<div class="row">
  <div class="col-md-2">

    <div class="row sideNav">
      <div class="col-md-6">
        <a href="/authors">
          <div class="row authorsSideNav">
            <div class="col-md-12">
              <img src="images/python_in_a_nutshell.jpg" alt="Python In A Nutshell" />
              <h2 class="rotate">Authors</h2>
            </div>
          </div>
        </a>
        <div class="row booksSideNav active">
          <a href="/books">
            <div class="col-md-12">
              <img src="images/kyle_simpson.jpg" alt="Kyle Simpson" />
              <h2 class="rotate">Books</h2>
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-10">

    {{#each library}}
      <div class="row books">
        <div class="col-md-2">
          <img src="{{cover_url}}" alt="{{title}}" />
        </div>
        <div class="col-md-10">
          <h3>{{title}}</h3>
          <h4>{{first_name}} {{last_name}}</h4>
          <h5>{{genre}}</h5>
          <p>{{description}}</p>
        </div>
      </div>
    {{/each}}

  </div>
</div>
